#app, .page {
	background: @cyan-500;
	width: 100%;
}

.logo-big {
	font-family: 'Nova Flat', cursive;
	color: white;
	font-size: 33px;
	display: inline-block;
}

.store-name-component {
	position: relative;
	top: 50%;
	margin-top: -160px;
	>.mui-paper {
		width: 300px;
		height: 140px;
		margin: auto;
		background: white;
		.store-name-input {
			display: block;
			margin: 5px auto;
		}
		.store-name-button {
			width: 100px;
			display: block;
			margin: 5px auto;
		}
	}
}
.dashboard{
	margin : 0 auto;
	width: 600px;
	padding: 20px 5px;
	.mui-drop-down-menu{
		height: 45px;
		.mui-menu-control-underline{
			margin: 0 !important;
		}
	}
	.mui-text-field{
		displat: block;
	}
	.fix-image{
		display: inline-block;
	  	position: relative;
	  	top: -100px;
	}
	.title{
		font-size : 20px;
		display: inline-block;
		width: 200px;
		height: 20px;
		margin: 8px 0px;
	}
}

.product-card{
	width: 250px;
	height: 250px;
	background: #eee;
	text-align: center;
	margin: 10px;
}
